@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/En/Views/FrontLayout.cshtml";
}
<script>
    window.onload = function () {
        $("#contactLi").addClass("active");
        $("#homeLi").removeClass("active");
    }
</script>
<section class="page">


    <div class="page-bg"></div>
    <div class="container">
        <div class="page-info">
            <div class="page-title">
                Contact
            </div>
            <div class="divider-half"></div>
            <div class="alt-sayfa">
                <ul>
                    <li><a href="#information">Contact Information</a></li>
                    <li><a href="#infoForm">Contact Form</a></li>
                    <li><a href="#infoMap">Map</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="information">
        <div class="single">
            <p>
                @try
                {
                    @Html.Raw(Model.ContactContent)
                }
                catch (Exception)
                {

                    <b>İçerik Yok!</b>
                }
               
            </p>
        </div>
    </div>

    <div class="container">
        <div class="single">
            <p>
                @using (Ajax.BeginForm("Send", "EnContacts", new AjaxOptions { UpdateTargetId = "info", HttpMethod = "POST" }, new { @class = "iletisim", id = "infoForm" }))
                {
                    <div class="iletisimrow">
                        <div>
                            <label for="adsoyad"><i class="fa fa-user"></i></label>
                            <input type="text" id="adsoyad" name="adsoyad" placeholder="Name Surname" required>
                        </div>
                        <div>
                            <label for="email"><i class="fa fa-at"></i></label>
                            <input type="email" id="email" name="email" placeholder="E-Mail" required>
                        </div>
                        <div>
                            <label for="konu"><i class="fa fa-file-text-o"></i></label>
                            <input type="text" id="konu" name="konu" placeholder="Subject" required>
                        </div>
                        <div class="full">
                            <label for="mesaj"><i class="fa fa-envelope"></i></label>
                            <textarea name="mesaj" id="mesaj" placeholder="Message" required></textarea>
                        </div>
                        <div></div>
                        <div>

                        </div>
                        <div>
                            <button>
                                <i class="fa fa-paper-plane-o"></i>
                                Send
                            </button>

                        </div><div id="info"></div>
                    </div>

                }
            </p>
        </div>
    </div>


    <div class="container">
        <div class="single" id="infoMap">
            <!-- Bu kodu, haritayı yerleştirmeyi planladığınız yere eklemeniz gerekmektedir (başla) -->
            <div id="ymaps-map-id_143055362253668587907" style="width: 100%; height: 350px;"></div>
            <div style="width: 450px; text-align: right;"><a href="//api.yandex.com.tr/maps/index.xml" target="_blank" style="color: #1A3DC1; font: 13px Arial, Helvetica, sans-serif;"></a></div>
            <script type="text/javascript">function fid_143055362253668587907(ymaps) { var map = new ymaps.Map("ymaps-map-id_143055362253668587907", { center: [36.922087, 37.583374], zoom: 13, type: "yandex#map" }); map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid"])); map.geoObjects.add(new ymaps.Placemark([36.922087, 37.583374], { balloonContent: "Fatih YAZICI<br>Tel: 05302919263" }, { preset: "twirl#blueDotIcon" })); };</script>
            <script type="text/javascript" src="//api-maps.yandex.ru/2.0-stable/?lang=tr-TR&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_143055362253668587907"></script>
            <!-- Bu kodu, haritayı yerleştirmeyi planladığınız yere eklemeniz gerekmektedir (bitir) -->
        </div>
    </div>


</section>
